body {
    background-color: white;
    color: gray;
    padding: 40px;
    
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
  main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h2{
    color:#27d594
  }

  h1{
    color:#27d594;
    font-size: 3.5rem;
  }

  h3{
    color:#d52768
  }

  .hero{
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 550px;
    margin-top: 10px;
  }

  .hero-img{
    width: 100%;
    height: 100%;
    /* max-width: 50%;
    max-height: 100%; */
    object-fit: contain;
  }

  .hero-txt{
    align-self: center;
  }

  .info-title{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .info-subtitle{
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.tutorial-img{
  max-width: 70%;
}
.go-button{
  border: none;
  border-radius: 24px;
  color:white;
  background-color: #27d594;
  font-weight: bolder;
  padding: 12px 24px;
  cursor:pointer;
  margin-top: 20px;
}

@media screen and (max-width: 786px){
  .hero{
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
  }
  .hero-img{
    display: none;
  }
  .tutorial-img{
    max-width: 100%;
  }
}
